.space{
    height: 500px;
    background-color: beige;
}
.top-page{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news-frame{
    width: 800px;
}
.board-frame{
    width: 300px;
}
