.header{
    margin-top: 20px;
    display:-webkit-flex;
    display:flex;
    padding:0;
    justify-content:flex-end;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
li{
    float: left;
    padding: 8px;
    margin: 10px 0px 10px 0px;
}
.left{
    margin-right:auto;
}
.icon{
    font-size: 23px;
}
.lightIcon{
    padding: 18px;
}
.localName{
    padding: 8px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
}
